/* Create a /css folder structure: base.css (reset, variables, typography), layout.css (header,
footer, grid structure), components.css (cards, buttons, forms, badges), pages.css (page-specific
rules), and main.css that imports all four using @import */


.timeline{
    display: flex;
    width: 2px;
    border: solid 2px cyan;
    height: 180px;
    margin-right: 10px;
    margin-left: 40%;
}


#pullquote{
    margin-top: 30px;
    border: solid 2px salmon;
    width: fit-content;
    text-align: center;
    padding: 20px;
    margin-left: 35%;
    border-radius: 30px;
}

#right-quote{
   margin-left: 50%;
   font-size: 70px;
   font-style: italic;
  
}

#left-quote{
    margin-right: 50%;
    font-size: 70px;
   font-style: italic;
}

#pullquote blockquote{
    max-width: 500px;
    
}

@media (width <= 480px) {
    .timeline{
        margin-left:10%;
    }


}

@media (width<=768px) {
    #pullquote{
            margin-left: 15%;
    }
    
}


/******************** Services.html **************************/

#services .dynamic-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap:30px;
    grid-template-areas: "article-one-mvp   article-two-custom    article-three-design";
    
    @media (width<900px){
        grid-template-columns: 1fr;
        grid-template-areas: 
        "article-one-mvp"
        "article-two-custom"
        "article-three-design";
    }
    
    @media (width<420px){
    td,th{
padding: 0;
}
    }
}

#services .dynamic-cards li{
    margin-left: 20%;
    text-align: left;
    padding-left: 20px;
    
}



/* c2a */

#services .c2a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "c2a-text c2a-form";
    border: solid 2px var(--black);

    @media (width<480px){
        grid-template-columns: 1fr;
        grid-template-areas: 
        "c2a-text "
         "c2a-form";
    }
}

