header nav ul {
    list-style-type:none;
    padding: 0;
    margin : 0 ; 
}

header nav li {display:inline-block;
                margin-right:15px;}

hr{border-width: 2px;}

article hr{ border:none;
            border-top: 1px dashed var(--light-black);}

body{
    background-color: var(--black);
    color: var(--white);
}

a{
    color:var(--cyan)
}

a:hover{
    color:var(--cyan)
}


.features em{
    color:  var(--orange);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.features h3{
    color : var(--light-orange);
}

.testimonials h2{
    color: var(--required-green);
}

.testimonials h3{
    color: var(--light-green);
}

footer{
    text-align: center;
    margin-top: 5vw;
}

header p{
    text-align: center;
    text-justify: auto;
    margin-left: 10vw;
    margin-right: 10vw;
}

header dl{
    margin-left: 38vw;
    margin-right: 10vw; 
}

#values h2{margin-left: 45vw;}



caption {
  padding: 10px;
  font-size: larger;
}

figure {
            display: inline-block;
            margin: 1em 40px;            
        }

figure img{
    border-radius: 15px;
}

.required {
    color: var(--required-green);
}

textarea{
    width:25vw;
    height:20vw;
}

fieldset{
    margin-top: 3vw;
}

.contact {
    flex-direction: column;
    margin-top: 3vw;
    display: flex;
    margin-right: 0;
    width: fit-content;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ************************************ */

.contact-form{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    width: 450px;

}

.contact-form label:hover{
    animation-name:float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes float {
    0%{
        translate: 0 0;
       font-size: 19.2px;
    }

    25%{
        color: var(--accent1);
        font-size: 20.2px;
    }

    50%{
        color: var(--accent2);
         font-size: 19.2px;
    } 

    75%{
        color: var(--accent3);
        font-size: 20.2px;
    }

    100%{
        color: var(--var(--white));
        font-size: 19.2px;
    }
    
}

/* .custom-select select option:hover{
    background-color: var(--accent3);
} */

/* Styling the select element itself */
.custom-select select {
    padding: 8px;
    border-radius: 4px;
}

/* Background color for options (hover state cannot be styled natively) */
.custom-select select option {
    background-color: var(--accent3);
    color: var(--black);
}

.fields{
    padding-top: 20px;
    font-size: 19.9px;
}

.fields input{
    height: 25px;
}

.fields input:user-invalid{
    outline: solid 2px red; /* constant color */
}

.formoverlay-on{
    width: 100%;
    height: 100%;
    background-color: var(--dim-black);
    animation-name: load;
    animation-duration: 1.5s;
}

.toast-on{
    display: block;
    background-color: darkgreen;
    font-size: 20px;
    color: white;
}

.toast-off{
    display: none;
}

@keyframes load {
    50%{
        background-color: var(--black)
    }  

}

.fields input[type="checkbox"]{
    width: 20px;
    height: 20px;
    accent-color: var(--accent1);
    cursor: pointer;
}

.fields input[type="checkbox"]:hover{
    accent-color: var(--accent2);
}

.contact-form button{
    width: 80px;
    height: 30px;
    font-size: larger;
    font-weight: 600;
}

address iframe{
    border-radius: 9999px;
}

#hamburger{
    font-size: 30px;

}


